.category_item {
    font-size: 25;
    font-weight: bold;
}

.product-item {
    width: 370px;
    float: left;
    margin: 10px 20px;
    height: 370px;
    padding: 5px;
}
#btnComparison {
    position: fixed;
    right: 10px;
    bottom: 10px;
    height: 30px;
}

#btnComparisonClear {
    position: fixed;
    right: 10px;
    bottom: 60px;
    height: 30px;
}

.comparison img {width: 250px;}

ul.list-cate {
    position: fixed;
    right: 30px;
}

ul.list-cate {
    position: fixed;
    right: 30px;
    list-style: none;
}

.list-cate li {
    height: 30px;
}

ul.brands {
    list-style: none;
}

.brands li {
    float: left;
    margin-right: 20px;
    padding: 5px;
    border: 1px solid #227C9D;
    margin-bottom: 10px;
    border-radius: 10px;
}

.brands a {
    text-decoration: none;
    color: #227C9D;
}

.brands li.selected {
    background: #227C9D;
}

.brands li.selected a {
    color: white;
}